In [2]:
import pandas as pd
# import seaborn


pd.set_option('display.max_colwidth', 355)
pd.set_option('display.max_rows', 100)

/Users/rodrigofaria/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
#df = pd.read_csv('datasets/b3_stocks_1994_2020.csv')
df = pd.read_csv('../b3data/b3_stocks_1994_2020.csv'')

### Licitações Janeiro 2021 - Exploração inicial

In [7]:
df.head()

     datetime ticker    open   close    high     low    volume
0  1994-07-04  ACE 3   48.00   48.00   48.00   47.00   46550.0
1  1994-07-04  ALP 3  155.27  156.00  156.00  155.27  163405.8
2  1994-07-04  ALP 4  131.00  131.00  131.00  131.00    6550.0
3  1994-07-04  IBP 6  600.00  600.00  600.00  600.00    7800.0
4  1994-07-04  AQT 4    0.89    0.99    0.99    0.85   13137.0

In [8]:
df.shape

(1883203, 7)

In [12]:
df['delta_open'] = df.apply(lambda x: abs(x['open'] - x['close']), axis=1)

In [16]:
df['delta_high'] = df.apply(lambda x: abs(x['high'] - x['low']), axis=1)